.AreaDir{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
}


.AreaDir img:first-of-type{
    float: right;
    margin-top: 50vh;
    height: 50%;
    width: 100%;
    position: relative;
}
.AreaDir img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    background-color: aqua;
}




@media (max-width:851px){
    .AreaDir img:first-of-type{
        margin-top: 0vh;
        height: 100%;
        max-width: 95%;
        transform: translateY();
    }
    .AreaDir{
    }
    .AreaDir img{
        
    }

}