.Area{
    width: 100%;
    height: 100vh;
    display: flex;

}

.Area nav{
    width: 50%;
    height: 100vh;
}

.Area nav:first-of-type{

}

.Area nav:last-of-type{

}


@media (max-width:851px){
    .Area{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
    }

    .Area nav{
        width: 100%;
        height: 50vh;
    }
    

    
}