.info{
    width: 50%;
    padding-top: 22vh;
    box-sizing: border-box;
    padding-left: 70px;
}

.info h1{
    width: 401px;
    font-weight: 700;
    font-size: 64px;
    line-height: 81px;
}


.info p{
    font-size: 20px;
    width: 401px;
    color: #7D827E;
    margin-top: 32px;
}
.info h2{
    font-size: 32px;
    margin-top: 15px;
}

.info nav{
    width: 100%;
    display: flex;
    height: 12px;
    padding-left: 15px;
    margin-top: 23px;
}

.info nav div{
    width: 15px;
    height: 15px;
    border-radius: 100px;
    margin-right: 11px;
    cursor: pointer;
    transition: all 0.5s;
}


@media(max-width:983px){
    .info{
        width: 50%;
        height: 700px;
        padding-top: 10vh;
        box-sizing: border-box;
        padding-left: 70px;
    }

    .info h1{
        width: 401px;
        font-weight: 700;
        font-size: 50px;
        line-height: 50px;
    }

    .info p{
        font-size: 17px;
        width: 401px;
        color: #7D827E;
        margin-top: 15px;
    }
    .info h2{
        font-size: 28px;
        margin-top: 10px;
    }
}

@media(max-width:479px){
    .info{
        width: 50%;
        height: 100vh;
        padding-top: 10vh;
        box-sizing: border-box;
        padding-left: 70px;
    }

    .info h1{
        width: 100%;
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
    }

    .info p{
        font-size: 15px;
        width: 300px;
        color: #7D827E;
        margin-top: 15px;
    }
    .info h2{
        font-size: 28px;
        margin-top: 10px;
    }

}